/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg-color);
  font-style: normal;
  font-size: 18px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 665px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 855px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 38px;
  }
}

@media screen and (max-width: 1279px) {
  .logo__icon {
    width: 96px;
    height: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .logo__icon {
    width: 158px;
    height: 71px;
  }
}

@media screen and (max-width: 1279px) {
  .nav-panel {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .nav-panel {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .nav-panel__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-panel__link {
    padding: 25px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--main-color);
  }
}

.btn {
  font-family: Caveat Brush;
  font-weight: 400;
  padding: 10px 45px;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ab816c;
}

.btn:hover, .btn:focus {
  background-color: #876655;
  cursor: pointer;
}

.btn:active {
  background-color: #674d40;
}

.header {
  padding-top: 7px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}

@media screen and (max-width: 1279px) {
  .header__container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.hero {
  padding-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 10px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 55px;
  }
}

.hero__title {
  font-family: Caveat Brush;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  color: #2e2520;
}

@media screen and (min-width: 768px) {
  .hero__title {
    text-align-last: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.01;
    text-align: left;
  }
}

.hero__text {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 25px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero-btn__link {
  display: inline-block;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .hero-btn__link {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-btn__link {
    margin-bottom: 65px;
    font-size: 24px;
  }
}

.hero-social {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero-social {
    justify-content: start;
  }
}

.hero-social__item:not(:last-child) {
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .hero-social__item:not(:last-child) {
    margin-right: 12px;
  }
}

.hero-social__icon {
  fill: #2e2520;
}

.hero-social__icon--twitter {
  width: 19px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .hero-social__icon--twitter {
    width: 24px;
    height: 19px;
  }
}

.hero-social__icon--instagram {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .hero-social__icon--instagram {
    width: 19px;
    height: 19px;
  }
}

.hero-social__icon--facebook {
  width: 8px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .hero-social__icon--facebook {
    width: 10px;
    height: 19px;
  }
}
/*# sourceMappingURL=main.css.map */