 .hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 45px;
    line-height: calc(65 / 24);
    background-color: #AB816C;
    border-radius: 25px;
    margin-bottom: 55px;
 }

 .hero-btn__link {
    font-family: Caveat Brush;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
 }

 .hero-btn:hover,
 .hero-btn:focus {
    background-color: #876655;
    cursor: pointer;
 }

 .hero-btn:active {
    background-color: #674D40;
 }

 .hero-social {
    display: flex;

 }

 .hero-social__item:not(:last-child) {
    margin-right: 12px;
 }

 .hero-social__icon {
    fill: var(--main-color);
 }