.header {
   padding-top: 7px;

   @media screen and (min-width: 768px) {
      padding-top: 25px;
   }

   @media screen and (min-width: 1280px) {
      padding-top: 30px;
   }
}

.header__container {
   @media screen and (max-width: 1279px) {
      display: flex;
      justify-content: center;
   }

   @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
   }
}
